# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET = "Gupta"

# MongoDB connection string for connecting to the database
MONGODB_URL = "mongodb://127.0.0.1:27017/StudyNotionDB"

# Hostname of the mail server used for sending emails
MAIL_HOST = smtp.gmail.com

# Username of the email account used for sending emails
MAIL_USER = jgupta15499@gmail.com

# Password of the email account used for sending emails
MAIL_PASS = ppdzlgjvfiykyhgp

RAZORPAY_KEY = rzp_test_a7bL6eAh311hP9
RAZORPAY_SECRET = HpGOZAuWh49sUX8MpFrGknbv